html {
  max-height: 100%;
}

body {
  max-height: 100%;
  font-size: 2rem;
  font-family: sans-serif;
  background: linear-gradient(lightblue, cyan);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container-main {
  border: 1px solid black;
}

header {
  margin: 1rem 0;
  text-align: center;
}
select {
  font-size: 1.1rem;
}
.section-container {
  display: flex;
  flex-direction: column;
  padding: 0 10vw;
}
.column {
  flex: 1;
  text-align: center;
}
.item {
  padding-bottom: 5px;
}
img {
  max-width: 500px;
  width: 100%;
  max-height: 500px;
}
span {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.3rem;
}
#top-col {
  text-align: center;
}
#ul {
  text-align: left;
}

#description,
#likesKids,
#likesDogs,
#likesStrangers,
.catBreedSpan,
.catBreedP {
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: normal;
  margin-bottom: 0.2rem;
}
.copyrightLink {
  text-decoration: none;
  color: black;
}
.copyrightLink:hover {
  color: blue;
}
footer {
  font-size: 1rem;
  text-align: center;
  padding-bottom: 1rem;
}
