body {
  font-size: 2rem;
  font-family: sans-serif;
  background: linear-gradient(lightblue, cyan);
  height: 100vh;
  overflow: hidden;
}

header {
  margin: 1rem 0;
  text-align: center;
}
select {
  font-size: 1.1rem;
}
.section-container {
  display: flex;
  flex-direction: column;
  padding: 0 10vw;
}
.column {
  flex: 1;
  text-align: center;
}
img {
  max-width: 500px;
  max-height: 500px;
}
span {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.3rem;
}
#top-col {
  text-align: center;
}
#ul {
  text-align: left;
}

#description,
#likesKids,
#likesDogs,
#likesStrangers,
.catBreedSpan,
.catBreedP {
  font-size: 0.8rem;
  text-decoration: none;
  font-weight: normal;
  margin-bottom: 0.2rem;
}
footer {
  font-size: 1rem;
  text-align: center;
}
