html {
  font-size: 2rem;
  font-family: sans-serif;
  background: linear-gradient(lightblue, cyan);
  height: 100%;
}

header {
  margin-bottom: 3rem;
  text-align: center;
}
select {
  font-size: 1.1rem;
}
.section-container {
  display: flex;
  flex-direction: column;
  padding: 0 10vw;
  border: 1px solid black;
}
.column {
  flex: 1;
  text-align: center;
}
img {
  max-width: 500px;
  max-height: 500px;
}
span {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.3rem;
}
#cat-name {
  font-size: 2rem;
  text-decoration: none;
}
#left-col {
  border: 1px solid red;
  text-align: center;
}
#ul {
  text-align: left;
}

#description,
#likesKids,
#likesDogs {
  font-size: 0.8rem;
}
